* {
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
}

.kontrol-navbar-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.kontrol-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    padding: 0 20px; 
    height: 60px; 
    position: sticky;
    top: 0;
    z-index: 100;
}

.kontrol-navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kontrol-hamburger {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.kontrol-hamburger:hover {
    background: none;
}

.kontrol-hamburger img {
    display: none;
    width: 28px !important;
    height: auto;
}

.kontrol-navbar-left img {
    width: 36px;
    height: auto;
    margin-right: 10px;
}

.kontrol-navbar-left a {
    font-weight: bold;
    font-size: 22px;
}

.kontrol-navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kontrol-navbar-right img {
    width: 23px;
    height: 23px;
    margin: 0px 12px;
    cursor: pointer;
}

.kontrol-navbar-other-dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.kontrol-other-icon {
    display: none;
    width: 23px;
    height: 23px;
    margin: 0px 12px;
    cursor: pointer;
}

.kontrol-navbar-other-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 33px;
    right: 0;
    border-radius: 6px;
    overflow: hidden;
    z-index: 101;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.kontrol-navbar-other-dropdown-menu a {
    text-decoration: none;
    padding: 8px 14px;
    text-align: center;
}

.kontrol-navbar-right-desktop a {
    padding: 7px 12px;              
    border: 1px solid transparent;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.kontrol-garis {
    width: 1px;
    height: 25px;
    margin: 0px 12px;
}

.kontrol-language-switch {
    position: relative;
    display: flex;
    align-items: center;
}

.kontrol-globe-icon {
    width: 23px;
    height: 23px;
    margin: 0px 12px;
    cursor: pointer;
}

.kontrol-dropdown-language {
    position: absolute;
    top: 33px;
    right: 0;
    border-radius: 6px;
    overflow: hidden;
    z-index: 101;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.kontrol-dropdown-language div {
    padding: 8px 14px;
    cursor: pointer;
    text-align: center;
}

.kontrol-mode-toggle {
    width: 50px;
    height: 25px;
    border-radius: 20px;
    padding: 3px;
    margin: 0 12px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.kontrol-mode-toggle:hover {
    background-color: transparent;
}

.kontrol-mode-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    position: relative;
}

.kontrol-mode-toggle.kontrol-dark .kontrol-mode-icon {
    transform: translateX(11px);
}

.kontrol-mode-toggle.kontrol-light .kontrol-mode-icon {
    transform: translateX(-15px);
}

.kontrol-sidebar {
    position: fixed;
    width: 180px;
    height: 100vh;
    padding-top: 80px;
    transition: transform 0.3s ease;
}

.kontrol-sidebar a {
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: block;
    letter-spacing: 0.5px;
}

.kontrol-main-content {
    margin-left: 180px;
    padding: 15px 65px 30px 70px;
}

.kontrol-feature-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.kontrol-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 50px;
}

.kontrol-item {
    flex: 1 1 calc(50% - 25px);
    display: flex;
    flex-direction: column;
}

.kontrol-item h3 {
    margin: 0;
    padding: 0px 0px 20px 20px;
    font-size: 18px;
}

.kontrol-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    background-color: #ffffff;
    box-shadow:  0 3px 7px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 20px;
}

.kontrol-icon {
    width: 150px;
    height: auto; 
    flex-shrink: 0;
}

.kontrol-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kontrol-info p,
.kontrol-info label {
    font-size: 15px;
    color: #000000;
    margin: 5px 0px;
}

.kontrol-info button {
    margin: 0;
    margin-top: 10px;
}

.kontrol-kwh-input {
    margin: 10px 0px;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 15px;
    font-size: 14px;
    transition: box-shadow 0.2s ease;
}

.kontrol-kwh-input:focus {
    outline: none;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}  
  
.kontrol-kwh-input::placeholder {
    color: #A2A2A2;
}

.kontrol-on-off {
    width: 100%;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    color: white;
    cursor: pointer;
}

.kontrol-footer-edit {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 180px;
    padding-left: 35px;
    padding-bottom: 20px;
}

.kontrol-footer-icon {
    width: auto;
    height: 16px;
    padding-bottom: 1px;
}

.kontrol-footer-edit p {
    font-size: 14px;
}

/* ----Komponen dalam Light Mode------------------------------------- */
.kontrol-light-mode .kontrol-navbar {
    background-color: #fff;
}

.kontrol-light-mode .kontrol-navbar-other-dropdown-menu {
    background-color: #fff;
}

.kontrol-light-mode .kontrol-navbar-other-dropdown-menu a {
    color: #000000;
}

.kontrol-light-mode .kontrol-navbar-other-dropdown-menu a:hover,
.kontrol-light-mode .kontrol-navbar-other-dropdown-menu a:active {
    background-color: #000;
    color: #fff;
}

.kontrol-light-mode .kontrol-navbar-right-desktop a {
    color: #000000;
}

.kontrol-light-mode .kontrol-navbar-right-desktop a:hover,
.kontrol-light-mode .kontrol-navbar-right-desktop a:active {
    color: #ffffff;
    background-color: #000000;
}

.kontrol-light-mode .kontrol-garis {
    background-color: #000000;
}

.kontrol-light-mode .kontrol-dropdown-language {
    background-color: #fff;
    color: #000000;
}

.kontrol-light-mode .kontrol-dropdown-language div:hover,
.kontrol-light-mode .kontrol-dropdown-language div:active {
    background-color: #000;
    color: #fff;
}

.kontrol-light-mode .kontrol-mode-toggle {
    border: 1px solid #000000;
}

.kontrol-light-mode .kontrol-mode-icon {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
}

.kontrol-light-mode .kontrol-sidebar {
    background-color: #111;
}

.kontrol-light-mode .kontrol-sidebar a {
    color: white;
}

.kontrol-light-mode .kontrol-sidebar a:hover,
.kontrol-light-mode .kontrol-sidebar a:active {
    background-color: rgb(255, 255, 255);
    color: #111;
}

.kontrol-light-mode .kontrol-item h3 {
    color: #000000;
}
/* ------------------------------------------------------------------- */

/* ----Komponen dalam Dark Mode------------------------------------- */
.kontrol-dark-mode {
    background-color: #2d2d2d;
}

.kontrol-dark-mode .kontrol-navbar {
    background-color: #424242;
}

.kontrol-dark-mode .kontrol-navbar-left a {
    color: #ffffff;
}

.kontrol-dark-mode .kontrol-hamburger img {
    background-color: #fff;
    border-radius: 20px;
    padding: 2.5px 3px 2.5px 2px;
}

.kontrol-dark-mode .kontrol-logo-web {
    background-color: #fff;
    border-radius: 20px;
    padding: 4px 2px;
}

.kontrol-dark-mode .kontrol-navbar-right img {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2px;
}

.kontrol-dark-mode .kontrol-navbar-other-dropdown-menu {
    box-shadow: 0 0px 7px rgba(255, 255, 255, 0.3);
}

.kontrol-dark-mode .kontrol-navbar-other-dropdown-menu {
    background-color: white;
}

.kontrol-dark-mode .kontrol-navbar-other-dropdown-menu a {
    color: #000000;
}

.kontrol-dark-mode .kontrol-navbar-other-dropdown-menu a:hover,
.kontrol-dark-mode .kontrol-navbar-other-dropdown-menu a:active {
    background-color: #000;
    color: #fff;
}
 
.kontrol-dark-mode .kontrol-navbar-right-desktop a {
    color: #ffffff;
}

.kontrol-dark-mode .kontrol-navbar-right-desktop a:hover,
.kontrol-dark-mode .kontrol-navbar-right-desktop a:active {
    color: #000000;
    background-color: #ffffff;
}

.kontrol-dark-mode .kontrol-garis {
    background-color: #ffffff;
}

.kontrol-dark-mode .kontrol-language-switch img {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2px;
}

.kontrol-dark-mode .kontrol-dropdown-language {
    background-color: #ffffff;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.3);
}

.kontrol-dark-mode .kontrol-dropdown-language div:hover,
.kontrol-dark-mode .kontrol-dropdown-language div:active {
    background-color: #000000;
    color: #ffffff;
}

.kontrol-dark-mode .kontrol-mode-toggle {
    border: 1px solid #ffffff;
}

.kontrol-dark-mode .kontrol-mode-icon {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0px 7px rgba(255, 255, 255, 0.9);
    padding: 2px;
}

.kontrol-dark-mode .kontrol-sidebar {
    background-color: #111;
}

.kontrol-dark-mode .kontrol-sidebar a {
    color: white;
}

.kontrol-dark-mode .kontrol-sidebar a:hover,
.kontrol-dark-mode .kontrol-sidebar a:active {
    background-color: rgb(255, 255, 255);
    color: #111;
}

.kontrol-dark-mode .kontrol-main-content {
    background-color: #2d2d2d;
}

.kontrol-dark-mode .kontrol-item h3 {
    color: #ffffff;
}

.kontrol-dark-mode .kontrol-footer-edit {
    background-color: #2d2d2d;
}

.kontrol-dark-mode .kontrol-footer-edit img {
    background-color: #ffffff;
    border-radius: 10px;
}

.kontrol-dark-mode .kontrol-footer-edit p {
    color: #ffffff;
}
/* ------------------------------------------------------------------- */

/* ----------Responsif------------------------------------------------ */
@media (max-width: 1224px) {
    .kontrol-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .kontrol-info label {
        text-align: left;
    }
}

@media (max-width: 973px) {
    .kontrol-hamburger img {
        display: block;
    }

    .kontrol-sidebar {
        transform: translateX(-100%);
        z-index: 99;
    }

    .kontrol-sidebar.kontrol-open-sidebar {
        transform: translateX(0);
    }

    .kontrol-main-content {
        margin-left: 0 !important;
    }

    .kontrol-footer-edit {
        margin-left: 0 !important;
    }
}

@media (max-width: 785px) {
    .kontrol-list {
        display: flex;
        flex-direction: row;
    }

    .kontrol-info p {
        text-align: left;
    }
}

@media (max-width: 647px) {
    .kontrol-other-icon {
        display: block;
    }

    .kontrol-navbar-right-desktop {
        display: none;
    }

    .kontrol-sidebar {
        width: 130px;
    }

    .kontrol-main-content {
        padding: 0px 40px;
    }

    .kontrol-footer-edit {
        justify-content: center;
        gap: 5px;
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 30px;
    }

    .kontrol-footer-icon {
        width: auto;
        height: 16px;
        padding-bottom: 0.5px;
    }

    .kontrol-footer-edit p {
        font-size: 13px;
    }
}

@media (max-width: 451px) {
    .kontrol-navbar {
        padding: 0px 10px;
        height: 55px;
    }

    .kontrol-navbar-left img {
        width: 30px;
    }

    .kontrol-navbar-left a {
        font-size: 18px;
    }

    .kontrol-navbar-right img {
        width: 23px;
        margin: 0px 8px;
    }

    .kontrol-mode-toggle {
        width: 45px;
        height: 24px;
        margin: 0px 5px 0px 8px;
    }

    .kontrol-mode-toggle.kontrol-dark .kontrol-mode-icon {
        transform: translateX(11px);
    }

    .kontrol-mode-toggle.kontrol-light .kontrol-mode-icon {
        transform: translateX(-11px);
    }

    .kontrol-list {
        display: flex;
        flex-direction: column;
    }

    .kontrol-info p {
        text-align: center;
    }

    .kontrol-footer-edit {
        margin-left: 0 !important;
        justify-content: center;
    }
}
/* ------------------------------------------------------------------- */